img {
  width: 275px;
  height: 275px;
  object-fit: cover;
  border: 5px solid white;
  margin: 10px;
  box-shadow: 5px 5px 10px;
}
header, footer {
    background-color: #437EDA;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 15px;
}
nav a{
    display: none;
}
main {
    background-color: #CCCCCC;
    text-align: center;
}
.menu-btn {
    justify-content: center;
    border: none;
    color: white;
    background-color: #437EDA;
}
body {
    margin: 0px;
}
footer {
    text-align: center;
}
#images {
    justify-content: center;
}
#works {
    margin-top: 0px;
    padding-top: 30px;
    font-size: 30px;
}
h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

dialog img {
    width: 90%;
    height: auto;
    display: block;
    margin: 20vh auto;
    object-fit: fill;
    border: none;
    margin: none;
    box-shadow: none;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 19vh;
    right: 1vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

.stuff{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.change{
    color: white;
    display: inline;
    font-size: 20px;
    padding-bottom: 20px;
}

@media screen and (min-width: 600px) {
    #images {
        display: grid;
        grid-template-columns: 45% 45%;
        justify-items: center;
    }
    img {
        margin-bottom: 20px;
    }
    .close-viewer {
        right: 3vh;
    }
}

@media screen and (min-width: 1000px) {
    #images {
        display: grid;
        grid-template-columns: 23% 23% 23%;
        justify-items: center;
    }
    img {
        width: 175px;
        height: 175px;
    }
    .menu-btn {
        display: none;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    nav a {
        display: inline;
        color: white;
        padding: 10px;
    }
    .stuff {
        flex-direction: row;
    }
    dialog img {
        width: 50%;
    }
    .close-viewer {
        right: 45vh;
    }
}
